<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <doppler_relay_config>
            <config_smtp_relay>
                <host>smtp.dopplerrelay.com</host>
                <port>587</port>
            </config_smtp_relay>
        </doppler_relay_config>
    </default>
</config>
